Source: ros-melodic-rexrov2-gazebo
Section: misc
Priority: extra
Maintainer: Musa Morena Marcusso Manhaes <Musa.Marcusso@de.bosch.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-rexrov2-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-rexrov2-control, ros-melodic-rexrov2-description
Description: Package with launch files for demonstrations with the RexROV 2 vehicle
